@font-face{
  font-family: "AdventSans-Logo";
  src: url(fonts/AdventSans-Logo.otf);
}

body {
    font-family: "AdventSans-Logo",sans-serif!important;
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}

.navbar-brand{ /*moves the nav-links to the right */
  margin-right: 20rem!important;
}

.lead{
    text-align: justify!important;
}

/*Servives sections on the home page */

section {
  padding: 0;
  overflow: hidden;
}

.section-bg{
	background-color: #fff9f7;
}

.section-header h2{
	font-size: 32px;
	text-align: center;
	font-weight: 500;
	position: relative;
}

.section-header p{
	text-align: center;
	margin: auto;
	font-size: 15px;
	padding-bottom: 60px;
	color: #556877;
	width: 50%;
}

#services .box{
	padding: 30px;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	margin: 0 10px 40px 10px;
	background: #fff;
	box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
	transition: all 0.3s ease-in-out;
}

/* leadership section */

.team-section{
	background-color: #fff;
}

.team-section h2,{
	font-size: 32px;
	text-align: center;
	position: relative;
}

.team-section p{
	text-align: center;
	margin: auto;
	font-size: 15px;
	padding-bottom: 60px;
	width: 50%;
}

.rounded-circle{
	box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.2);
}

/**footer section**/
.footer-section{
  background-color: grey;
}

/* style for the beliefs page */
.blog .entry{
  padding: 20px;
  margin-bottom: 60px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .entry .entry-img{
  max-height: 400px;
  margin: -20px -20px 20px -20px;
  overflow: hidden;
}

.blog .entry .entry-title{
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}

.blog .entry .entry-title a {
  color: ;
  text-decoration: none;
  transition: 0.3s;
  background-color: transparent;
}

.blog .entry .entry-title a:hover {
  color: #ff5821;
}

.blog .entry .entry-content p{
  line-height: 24px;
  font-size: 15px;
}

.blog .entry .entry-content .read-more{
  text-align-last: right;
}

.blog .entry .entry-content .read-more a {
  text-decoration: none;
  display: inline-block;
  background: #003265;
  color: #fff;
  padding: 6px 20px;
  transition: 0.3s;
  font-size: 14px;
}

.blog .entry .entry-content .read-more a:hover {
  background: #ff774a;
}

/* pagination */
.blog .blog-pagination ul{
	display: flex;
	padding-left: 0;
	list-style: none;
}

.blog .blog-pagination li{
	margin: 0 5px;
}

.blog .blog-pagination li .disabled{
	background: #fff;
	border: 1px solid #fdfcfc;
}

.blog .blog-pagination li {
    border: 1px solid #f32345;
    margin: 0 5px;
}

.blog .blog-pagination li .disabled i {
    color: #dedede;
    padding: 10px 16px;
    display: inline-block;
}

.blog .blog-pagination li a {
    color: #989595;
    padding: 7px 16px;
    display: inline-block;
}

.blog .blog-pagination li a:hover{
	color: navy-blue;
}

/*style for the footer*/
.footer {
  background: #2f557f!important;
  color: white;
}

.footer h2{
  color: #fff;
}

li a {
  color: white;
  transition: color .2s;

&:hover {
  text-decoration: none;
  color: #4180CB;
}
}
}

.about-church {
  i {
    font-size: 25px;
    }
  a {
    color: white;
    transition: color .2s;
  &:hover {
  color: #4180CB
    }
    }
}

.location {
  i {
    font-size: 18px;
      }
}

.copyright p {
  border-top: 1px solid rgba(255, 255, 255, .1);
  }
}

/*page-pagination*/
	 /* Style the buttons */
#pagination.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Style the active class (and buttons on mouse-over) */
#pagination.active, #pagination.btn:hover {
  background-color: #666;
  color: white;
}

/*style for the about us page*/


.quote h3{
  color: royalblue;
}

/***Calendar****/
.top-intro{
  width: 100%;
  position: relative;
  background: url("../img/ktm2.jpg") center bottom no-repeat;
  background-size: cover;
  padding: 200px 0 10px 0;
  opacity: 0.8;
}

.intro{
  text-align: center;
  color: #fff;
  font-family: "AdventSans-Logo"!important;
}
.top-intro h1{
  font-weight: 700;
  font-weight: bold;
}

.top-intro .btn{
  text-align: center;
  vertical-align: middle;
}

/**Accordion button**/
#accordion .btn-link{
  font-weight: 600!important;
  color: teal!important;
  text-decoration: none!important;
}

.card .btn {
  font-weight: 500!important;
  color: dodgerblue!important;
}
