.hidden {
    display: none;
}

image {
    width: 100%;
}

.hero {
}

button {
    cursor: pointer;
    border-radius: 1.5rem;
}

.video-bg-wrapper {
    background:
        linear-gradient(
            to bottom left,
            hsla(0, 0%, 0%, 0),
            hsla(0, 0%, 0%, 0.2),
            hsla(214, 0%, 0%, 0.9),
            hsl(216, 45.5%, 6.5%)
        ),
        url("./assets/demo-bg.mp4");
}

.top {
    background-image:
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.5) 40%,
            rgba(0, 0, 0, 0.97) 100%
        ),
        url("./assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel {
    margin: 0 auto;
    display: flex;
    overflow-x: hidden;

    > * {
        flex: 0 0 100%;
    }

    &:hover .group {
        animation-play-state: paused;
    }
}

.group {
    display: flex;
    gap: 20px;
    padding-right: 20px;

    will-change: transform;
    animation: scrolling 20s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
